<app-header theme="light"></app-header>
<div class="content-view">
  <app-frame
  frameType="view"
  title="Material didático"
  subtitle="Acesse suas últimas apresentações de aula."
  class="frame-alter"
  >
  <ng-container *ngFor="let card of cards">
    <app-card
      *ngIf="!isLoading"
      [imageSrc]="card.imageSrc"
      [imageAlt]="card.subtitle"
      slideFix="1 Slide"
      [materialTitle]="card.subtitle"
    />
    <app-skeleton *ngIf="isLoading" />
  </ng-container>
</app-frame>
</div>
