.content-card{
  display: inline-block;
  width: 310px;
  overflow: hidden;

  .card{
  width: 100%;
  height: 174px;
  background-color: #FFFFFF;
  position: relative;
  border-radius: 8px;
  overflow: hidden;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
  }

  iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide-count{
    position: absolute;

    bottom: 1rem;
    left: 0.750rem;
    background: rgba(12, 12, 12, 0.7);
    border-radius: 50px;
    padding: 4px 8px;
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
  }
}

  .slide-title{
    color: #354564;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0.8rem;
  }
}