@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@mixin header-theme($bg-color, $text-color, $separator-color, $profile-bg-color, $profile-text-color) {
  background-color: $bg-color;

  .header-date,
  .header-separator,
  .header-switch-env {
    color: $text-color;
  }

  .header-separator {
    background-color: $separator-color;
  }

  .header-profile-initials {
    background-color: $profile-bg-color;
    color: $profile-text-color;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: 'Roboto';

  &-logo {
    margin-left: 40px;
    width: 140px;
  }

  &-info {
    display: flex;
    align-items: center;

    .notify{
      cursor: pointer;
    }
  }

  &-date {
    margin: 0 0.5rem;
  }

  &-separator {
    margin: 0 1.3rem;
    width: 1px;
    height: 24px;
  }

  &-profile-image,
  &-profile-initials {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
  }

  &-profile-image {
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 0.5rem;
    cursor: pointer;
  }

  .arrow-profile {
    margin-right: 2rem;
    margin-left: 1rem;
    cursor: pointer;
  }

  &-container-switch{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 3rem;
    width: 100%;
  }

  &-switch-env {
    background-color: transparent;
    border: 0.5px solid #7183A6;
    color: #7183A6;
    font-size: 1rem;
    padding: 0.4rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 10rem;

    &:hover {
      background-color: rgba(113, 131, 166, 0.1);
    }
  }

  &-icon-environment {
    margin-right: 0.3rem;
  }

  // Tema Dark
  & {
    @include header-theme(#252323, #E4EBFB, #E4EBFB, #999, #fff);
  }

  // Tema Light
  &.header-light {
    @include header-theme(#FFFFFF, #7183A6, #7183A6, #999, #fff);

    &-logo {
      filter: brightness(0) invert(1);
    }
  }
}

::ng-deep .mat-menu-item {
  background: red; /* Altere para a cor de fundo desejada */
  color: white; /* Altere para a cor de texto desejada */

}

/* Media Queries para responsividade */
@media (max-width: 1023px) {
  .header {
    flex-wrap: wrap;

    &-logo {
      margin: 1rem auto;
    }

    &-container-switch {
      justify-content: center;
      margin: 1rem auto;
      width: auto;
    }

    &-switch-env {
      margin-right: 0;
    }

    &-info {
      margin: 1rem auto;
    }
  }
}

@media (max-width: 767px) {
  .header {
    &-switch-env {
      font-size: 0.9rem;
      padding: 0.3rem 0.8rem;
    }

    &-date,
    &-separator {
      font-size: 0.9rem;
    }

    .arrow-profile {
      width: 16px;
      height: 16px;
    }
  }
}

@media (max-width: 479px) {
  .header {
    &-switch-env {
      font-size: 0.8rem;
      padding: 0.2rem 0.6rem;
    }

    &-date,
    &-separator {
      font-size: 0.8rem;
    }

    .arrow-profile {
      width: 14px;
      height: 14px;
    }
  }
}
