.container{
  display: flex;
  flex-direction: column;
  align-items: center;

  h3{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
  }

  .line{
    width: 28px;
    height: 4px;
    border-radius: 4px;
    transition: width 0.3s ease-out;
  }

  .line-expanded{
    width: 10%;
  }

  .dynamic-image{
    width: 370px;
    height: 370px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 1rem;
  }
}