<app-header theme="dark"></app-header>
<div class="content">
  <app-options
  (click)="navigateToDashboard()"
  [title]="'Material didático'"
  [lineColor]="'#4173CD'"
  [lineWidth]="'350px'"
  [imageSrc]="'../../../assets/images/material.svg'"
  [imageAlt]="'Material Didatico Icon'"
  />
  <app-options
  [title]="'Quiz'"
  [lineColor]="'#1DC763'"
  [lineWidth]="'100px'"
  [imageSrc]="'../../../assets/images/quiz.svg'"
  [imageAlt]="'Quiz Icon'"
  />
  <app-options
  [title]="'Desenho'"
  [lineColor]="'#F6B5FF'"
  [lineWidth]="'200px'"
  [imageSrc]="'../../../assets/images/draw.svg'"
  [imageAlt]="'Desenho Icon'"
  />
  <app-options
  [title]="'Youtube'"
  [lineColor]="'#FF0000'"
  [lineWidth]="'170px'"
  [imageSrc]="'../../../assets/images/youtube.svg'"
  [imageAlt]="'Youtube Icon'"
  />
</div>
