.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: url('../../../assets//images/bg_home.svg');
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  overflow: auto;
}
