<div class="container">
  <div>
    <div class="logo-wrapper">
      <img src="../../../assets/images/logo_trakto.svg" alt="Logo Trakto">
      <h2 class="title">Olá, faça login em sua conta.</h2>
    </div>
    <form class="form" [formGroup]="loginForm">
      <div class="input-group">
        <label class="input-label">Email</label>
        <input label="Email" name="email" type="email" placeholder="fulano@gmail.com" formControlName="email" class="input-field" class="input-field">
      </div>
      <div class="input-group">
        <label class="input-label">Password</label>
        <input label="Senha" name="password" type="password" placeholder="••••••••••" formControlName="password" class="input-field">
      </div>
      <button type="submit" class="button" (click)="onSubmit()">Entrar</button>
    </form>
  </div>
</div>
