
  .banner {
    color: #ffffff;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;

    img{
      width: 95vw;
    }
  }

@media screen and (max-width: 480px) {
  .banner {
    margin: 0;
  }

  .banner img {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .banner {
    margin: 0;
  }

  .banner img {
    width: 100%;
  }
}




