<div class="container">
  <app-header theme="light"></app-header>

  <app-banner></app-banner>

  <app-frame
  dateRange="Semana 06/02 até 28/02"
  title="Material didático"
  subtitle="Acesse suas últimas apresentações de aula."
  >
    <ng-container *ngFor="let card of cards">
      <app-card
        *ngIf="!isLoading"
        [imageSrc]="card.imageSrc"
        [imageAlt]="card.subtitle"
        slideFix="1 Slide"
        [materialTitle]="card.subtitle"
      ></app-card>
      <app-skeleton *ngIf="isLoading"></app-skeleton>
    </ng-container>
  </app-frame>

  <app-frame
  dateRange="Semana 06/02 até 28/02"
  title="Vídeo aulas"
  subtitle="Complemente os estudos assistindo o conteúdo de forma dinâmica."
  >
    <ng-container *ngFor="let video of videos">
      <app-card
        *ngIf="!isLoading"
        [imageSrc]="video.imageSrc"
        [imageAlt]="video.subtitle"
        slideFix="Youtube"
        [materialTitle]="video.subtitle"
        [contentType]="'video'"
      ></app-card>
      <app-skeleton *ngIf="isLoading"></app-skeleton>
    </ng-container>
  </app-frame>
</div>

