<div class="container" [class.container-alternative]="frameType === 'view'">
  <div *ngIf="frameType !== 'view'" class="arrows">
    <span class="date-range">
      {{ dateRange }}
    </span>
    <button class="arrow arrow-right" (click)="scrollCardsLeft()">
      <img src="../../../assets/images/arrow_right.svg" alt="">
    </button>
    <button class="arrow arrow-left" (click)="scrollCardsRight()">
      <img src="../../../assets/images/arrow_left.svg" alt="">
    </button>
    <app-button
      [titleBtn]="titleBtn"
      [textColor]="textColor"
      [bgColor]="bgColor"
      [hoverColor]="hoverColor"
      [buttonUrl]="buttonUrl"
      [icon]="icon"
    ></app-button>
  </div>
  <h2 class="title" [class.title-alternative]="frameType === 'view'"> {{ title }} </h2>
  <p class="subtitle" [class.subtitle-alternative]="frameType === 'view'"> {{ subtitle }} </p>
  <div class="card-wrapper" #cardWrapper [class.card-wrapper-alternative]="frameType === 'view'">
    <ng-content></ng-content>
  </div>
</div>
